<div class="demo-wrap">
    <div class="demo-content">

        <div class="container main">
            <h3 class="text-center pt-3">REGISTRA TU LIBRO</h3>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form action="" class="form-control m-3 p-3 bg-light">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="text" [(ngModel)]="selectedResenia.dni" name="dniUsuarioInput" #dniUsuarioInput class="form-control" placeholder="..." minlength="8" maxlength="8" pattern="[0-9]{8}">
                                    <label for="dniUsuarioInput">DNI del Usuario</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="text" [(ngModel)]="selectedResenia.nombres" name="nombreUsuarioInput" #nombreUsuarioInput class="form-control" placeholder="..." maxlength="30" pattern="[A-Za-z ]{30}">
                                    <label for="nombreUsuarioInput">Nombres del Usuario</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="text" [(ngModel)]="selectedResenia.apellidos" name="apellidosUsuarioInput" #apellidosUsuarioInput class="form-control" placeholder="..." maxlength="50" pattern="[A-Za-z ]{50}">
                                    <label for="apellidosUsuarioInput">Apellidos del Usuario</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="email" [(ngModel)]="selectedResenia.correo" name="correoUsuarioInput" class="form-control" #correoUsuarioInput placeholder="..." value="jean.yantas@gmail.com"
                                    pattern="[A-Za-z.-_]+[@]{1}[A-Za-z]+[.]{1}[com]{3}">
                                    <label for="correoUsuarioInput">Correo del Usuario</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="#generoInput">G&eacute;nero</label>
                                    <select [(ngModel)]="selectedResenia.genero" class="form-select" name="generoInput" #generoInput>
                                    <option selected>Seleccionar...</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="text" [(ngModel)]="selectedResenia.libro" name="nombreLibroInput" #nombreLibroInput class="form-control" placeholder="...">
                                    <label for="nombreLibroInput">Nombre del Libro</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="text" [(ngModel)]="selectedResenia.autor" name="autorLibroInput" #autorLibroInput class="form-control" placeholder="...">
                                    <label for="autorLibroInput">Autor del Libro</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3">
                                    <input type="number" [(ngModel)]="selectedResenia.puntuacion" name="puntuacionLibroInput" #puntuacionLibroInput class="form-control" placeholder="..." pattern="[1-9]{1}">
                                    <label for="puntuacionLibroInput">Puntuaci&oacute;n del Libro (1-9)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea [(ngModel)]="selectedResenia.comentario" class="form-control" placeholder="..." name="comentarioInput" #comentarioInput style="height: 150px" maxlength="1000"></textarea>
                            <label for="comentarioInput">Comentario</label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button (click)="addOrEdit()" class="btn btn-info" type="submit" data-bs-toggle="modal" data-bs-target="#tablaHome">Guargar</button>
                        </div>
                    </form>

                    <!-- MODAL -->
                    <div class="modal fade" id="tablaHome" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Registro de Libros</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <table class="table">
                                <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>DNI</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Correo</th>
                                    <th>G&eacute;nero</th>
                                    <th>Libro</th>
                                    <th>Autor</th>
                                    <th>Puntuaci&oacute;n</th>
                                    <th>Comentario</th>
                                    <th>Status</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let resenia of reseniaArray;" [class.active]="resenia == selectedResenia">
                                    <td class="table-dark"><span class="badge bg-primary"><!-- {{ i + 1 }} -->{{ resenia.id }}</span></td>
                                    <td>{{ resenia.dni }}</td>
                                    <td>{{ resenia.nombres }}</td>
                                    <td>{{ resenia.apellidos }}</td>
                                    <td>{{ resenia.correo }}</td>
                                    <td>{{ resenia.genero }}</td>
                                    <td>{{ resenia.libro }}</td>
                                    <td>{{ resenia.autor }}</td>
                                    <td>{{ resenia.puntuacion }}</td>
                                    <td>{{ resenia.comentario }}</td> 
                                    <td *ngIf="resenia.puntuacion > 8; else opcion2" class="bg-warning">
                                    Recomendado por {{ resenia.nombres }}.
                                    </td>
                                    <ng-template #opcion2>
                                    <td>
                                        Normal.
                                    </td>
                                    </ng-template>
                                    <td><button (click)="openForEdit(resenia)" class="btn btn-success btn-sm">Editar</button></td>
                                    <td><button (click)="eliminar(resenia)" class="btn btn-danger btn-sm">Eliminar</button></td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- FIN MODAL -->
                </div>
            </div>
        </div>

    </div>
</div>